<h1>Lägg till nytt recept</h1>
<%= form_for @recipe do |f| %>
<%= f.label_tag(:title, "Titel") %>
<%= f.text_field_tag(:title) %>
<%= f.label_tag(:picture, "Bild") %>
<%= f.file_field_tag(:picture) %>
<%= f.submit_tag("Lägg till") %>
<% end %>